name: Continuous Integration

on:
  push:
  pull_request:
    types: [opened, edited]

jobs:
  install-and-test:
    runs-on: ubuntu-latest
    if: ${{ github.actor != 'dependabot[bot]' }}
    steps:
      - uses: actions/checkout@v2
      - name: Install npm dependencies
        run: |
          yarn install
      - name: Run lint
        run: |
          yarn lint
      - name: Run css lint
        run: |
          yarn lint:css
      - name: Run tests and check coverage
        env:
          REACT_APP_AMPLITUDE_API_KEY: ${{ secrets.REACT_APP_AMPLITUDE_API_KEY }}
          REACT_APP_FIREBASE_API_KEY: ${{ secrets.REACT_APP_FIREBASE_API_KEY }}
          REACT_APP_FIREBASE_AUTH_DOMAIN: ${{ secrets.REACT_APP_FIREBASE_AUTH_DOMAIN }}
          REACT_APP_FIREBASE_PROJECT_ID: ${{ secrets.REACT_APP_FIREBASE_PROJECT_ID }}
          REACT_APP_FIREBASE_STORAGE_BUCKET: ${{ secrets.REACT_APP_FIREBASE_STORAGE_BUCKET }}
          REACT_APP_FIREBASE_MESSAGING_SENDER_ID: ${{ secrets.REACT_APP_FIREBASE_MESSAGING_SENDER_ID }}
          REACT_APP_FIREBASE_APP_ID: ${{ secrets.REACT_APP_FIREBASE_APP_ID }}
          REACT_APP_FIREBASE_MEASUREMENT_ID: ${{ secrets.REACT_APP_FIREBASE_MEASUREMENT_ID }}
          REACT_APP_MIXPANEL_API_KEY: ${{ secrets.REACT_APP_MIXPANEL_API_KEY }}
          REACT_APP_SENTRY_DNS: ${{ secrets.REACT_APP_SENTRY_DNS }}
          REACT_APP_RIBON_API: ${{ secrets.REACT_APP_RIBON_API }}
          REACT_APP_RIBON_COMPANY_ID: ${{ secrets.REACT_APP_RIBON_COMPANY_ID }}
          REACT_APP_ZENDESK_KEY: ${{ secrets.REACT_APP_ZENDESK_KEY }}
          REACT_APP_GROWTHBOOK_CLIENT_KEY: ${{ secrets.REACT_APP_GROWTHBOOK_CLIENT_KEY }}
          REACT_APP_RIBON_GROWTHBOOK_URL: ${{ secrets.REACT_APP_RIBON_GROWTHBOOK_URL }}
        run: |
          yarn testCoverage
      - name: Report Coveralls
        env:
          COVERALLS_REPO_TOKEN: ${{ secrets.COVERALLS_REPO_TOKEN }}
        uses: coverallsapp/github-action@v2
